@media screen and (min-width:320px) and (max-width:480px) {

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 320px);


}
}
